<section class="phx-hero">
    <h2>Hello world,from phoenix!</h2>
    <%= link "Hello Page! using path helper", to: Routes.hello_path(@conn, :show , "Saumya") %><br>
    <p>Locale inside controller: <%= @locale %></p>
</section>
<section class="phx-hero">
    <p>Locale2 inside index function: <%= @locale2 %></p>
    <h2>How you doing?</h2>
</section>
<section class="phx-hero">
    <h2>Hiii</h2>
</section>