<section class="phx-hero">
        <p>Locale inside controller: <%= @locale %></p>
    <h2>Hello world,from <%= @messenger %>!</h2>
        <p>Locale2 inside show function: <%= @locale2 %></p>
</section>